*{
    font-family: 'Montserrat', sans-serif;
}

/* Sidebar */
/* Logo and Social */
.sidebar{
    display: flex;
    justify-content: space-between;
    padding: 49px 52px 0;
}
a>.logo{
    width: 97px;
    height: 30px;
}
.social a:hover svg{
    width: 38px;
    height: 38px;
    opacity: 1;
}
.social> a > svg{
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: .2s ease;
    transform: translate(50% 50%);
}
.social_item> a{
    align-items: center;
}

a.facebook {
    padding-left: 30px;
}
/* Sidebar */
/* Logo and Social */



/* first section */
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Navigation */
.nav{
    position: absolute;
    top: -47px;
}
.nav ul{
    display: flex;
    padding: 0;
}
.nav ul li{
    list-style-type: none;
    margin-right: 54px;
    transition: .2s ease;
}
.nav ul li:hover{
    transform: translateY(-5px);
    border-bottom: 1px solid #2B3541;
    border-width: 100%;
}
.nav ul li a{
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
/* Navigation */


.title{
    width: 676px;
    padding-top: 151px;
    font-weight: bold;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
.wrap{
    padding-top: 80px;
    display: flex;
    position: relative;
}
.inner {
    position: absolute;
    right: -160px;
    top: 50px;
}
.info_text{
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}
.info_text span {
    padding-right: 16px;
}
.info{
    padding-left: 90px;
    width: 300px;
    font-size: 18px;
    line-height: 150%;
}
.btn{
    width: 252px;
    height: 64px;
    background: #FBF138;
    color: #2B3541;
    outline: none;
    margin-left: 90px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease;
    border-style: none;
    margin-top: 40px;
    position: relative;
}
.btn:hover{
    background: #2B3541;
    color: #FBF138;
}
.arrow {
    position: absolute;
    left: 87px;
    bottom: -148px;
}
.wrapper {
    padding-top: 300px;
}
/* first section */



/* Meetup */
.short_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}
.card{
    display: flex;
    justify-content: space-between;
}
.cards{
    position: relative;
}
.cards > .data,
.cards > .title_item,
.cards > .cat 
{
    position: absolute;
    box-sizing: border-box;
}
.cards > .data{
    top: 30px;
    left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}
.cards > .title_item{
    top: 77px;
    left: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
}
.cards > .cat{
    bottom: 0;
    right: 0;
    background-color: #FBF138;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    text-align: center;
    padding: 10px 20px;
}
/* Meetup */


/* shedule */
.shedule{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form{
    margin-top: 160px;
}
.shedule_date{
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
}
.module{
    border: 1px solid #2B3541;
}
.form_group {
  display:grid;
  grid-template-columns: repeat(3,minmax(300px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
.module_2 {
grid-row: 1 / span 3;
grid-column: 2 / span 1;
}
.module_3 {
grid-row: 1 / span 2;
grid-column: 3 / span 1;
}
.module_4 {
grid-row-start: 2;
grid-row-end: 5;
}
.module_5 {
grid-row: 4 / span 1;
grid-column: 2 / span 1;
}
.module_6 {
grid-row: 3 / span 2;
grid-column: 3 / span 1;
}

.mailing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding-top: 200px;
}
.mailing_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #2B3541;
}
.mail{
    display: flex;
    min-width: 620px;
}
.email{
    width: 372px;
    height: 64px;
    border: none;
    outline: none;
}
.mailing_btn{
    width: 210px;
    height: 64px;
    background: #FBF138;
    color: #2B3541;
    outline: none;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease;
    border-style: none;
}
.mailing_btn:hover{
    background: #2B3541;
    color: #FBF138;
}
.custom_check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_check + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom_check + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(0, 0, 0, 0.487);
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom_check:checked + label::before {
    border-color: rgba(0, 0, 0, 0.487);
    background-color: rgba(0, 0, 0, 0.487);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom_check:not(:disabled):not(:checked)+label:hover::before {
    border-color: rgba(0, 0, 0, 0.172);
}
.custom_check:not(:disabled):active+label::before {
    background-color: rgba(0, 0, 0, 0.405);
    border-color: rgba(0, 0, 0, 0.405);
}
.mail{
    display: flex;
    padding-bottom: 10px;
}





/* About */
.about{
    display: flex;
}
.about_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #2B3541;
}
.about_text{
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.about_btn{
    width: 210px;
    height: 64px;
    background: #FBF138;
    color: #2B3541;
    outline: none;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease;
    border-style: none;
}
.about_btn:hover{
    background: #2B3541;
    color: #FBF138;
}
.advantages{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 170px;
}